.home {
  position: relative;
  display: grid;
  z-index: -1;

  &__img {
    width: 100%;
  }

  &__text-box {
    position: relative;
  }

  &__heading {
    position: absolute;
    left: 50%;
    top: 0;
    width: 75%;
    padding: 1.5rem 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
    line-height: 1;
    background-color: $color-secondary;
    color: $color-grey-light-1;
  }

  &__property-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
    row-gap: 3.5rem;
    column-gap: 1rem;
    padding: 5rem 2rem 3rem;
    background-color: $color-grey-light-1;
  }

  &__property {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    column-gap: 1rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary-dark;
  }

  &__text {
    font-family: $font-primary;
    line-height: 1;
    font-size: 1.4rem;
    color: $color-grey-dark-2;
  }
  &__heart-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__heart-icon {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
  }
}
